.col-md-3
  .sidebar-item-card
    .sidebar-relatedarticles
      h4.sidebar-relatedarticles-title Articles recommandés
      .article-4-list
        a.article-4(href='#')
          .article-4-picture
            img.article-3-photo(src='https://static5.evaneos.fr/images/reduction/155356_w-180_h-100_q-100_m-crop.jpg')
            .copyright-container.copyright-small.copyright-to-right
              .copyright ©
              .copyright-content David Debrincat
          .article-4-title Point sur la sécurité au Pérou
        a.article-4(href='#')
          .article-4-picture
            img.article-3-photo(src='https://static3.evaneos.fr/images/reduction/153613_w-180_h-100_q-100_m-crop.jpg')
            .copyright-container.copyright-small.copyright-to-right
              .copyright ©
              .copyright-content David Debrincat
          .article-4-title La situation du Pérou aujourd'hui
        a.article-4(href='#')
          .article-4-picture
            img.article-3-photo(src='https://static1.evaneos.fr/images/reduction/154820_w-180_h-100_q-100_m-crop.jpg')
            .copyright-container.copyright-small.copyright-to-right
              .copyright ©
              .copyright-content David Debrincat
          .article-4-title En voyage au Pérou, quel budget prévoir ?
      a.btn.btn-thirdary(href='#') Plus d'articles
  .sidebar-item-card
    .sidebar-calendar.card-ticket
      h4.sidebar-destination-title Quand partir ?
      a(href='#')
        .row.whentogo.whentogo-hover
          .whentogo-item.col-xs-2.col-md-3
            .whentogo-title.good jan
            .whentogo-bar
              .whentogo-bar-full.good
          .whentogo-item.col-xs-2.col-md-3
            .whentogo-title.good fév
            .whentogo-bar
              .whentogo-bar-full.good
          .whentogo-item.col-xs-2.col-md-3
            .whentogo-title.good mar
            .whentogo-bar
              .whentogo-bar-full.good
          .whentogo-item.col-xs-2.col-md-3
            .whentogo-title.good avr
            .whentogo-bar
              .whentogo-bar-full.good
          .whentogo-item.col-xs-2.col-md-3
            .whentogo-title.good mai
            .whentogo-bar
              .whentogo-bar-full.good
          .whentogo-item.col-xs-2.col-md-3
            .whentogo-title.good jui
            .whentogo-bar
              .whentogo-bar-full.good
          .whentogo-item.col-xs-2.col-md-3
            .whentogo-title.good jui
            .whentogo-bar
              .whentogo-bar-full.good
          .whentogo-item.col-xs-2.col-md-3
            .whentogo-title.good aoû
            .whentogo-bar
              .whentogo-bar-full.good
          .whentogo-item.col-xs-2.col-md-3
            .whentogo-title.good sep
            .whentogo-bar
              .whentogo-bar-full.good
          .whentogo-item.col-xs-2.col-md-3
            .whentogo-title.good oct
            .whentogo-bar
              .whentogo-bar-full.good
          .whentogo-item.col-xs-2.col-md-3
            .whentogo-title.good nov
            .whentogo-bar
              .whentogo-bar-full.good
          .whentogo-item.col-xs-2.col-md-3
            .whentogo-title.good déc
            .whentogo-bar
              .whentogo-bar-full.good
      .whentogo-more-wrap
        a.btn.btn-thirdary(href='#')
          | Voir la suite
    .sidebar-article-item
      a.sidebar-article-link(href='#')
        i.iconvar.pin.sidebar-article-icon
        h4.sidebar-article-title Pourquoi s'y rendre
    .sidebar-article-item
      a.sidebar-article-link(href='#')
        i.iconvar.case.sidebar-article-icon
        h4.sidebar-article-title Préparer sa valise
    .sidebar-article-item
      a.sidebar-article-link(href='#')
        i.iconvar.bubble.sidebar-article-icon
        h4.sidebar-article-title Vocabulaire
  .sidebar-item-card
    .card-ticket
      .subscribeform.subscribeform-vertical
        h4.subscribeform-title Envie de poursuivre votre voyage toute l'année ?
        form.subscribeform-form.js-subscribeform
          p.subscribeform-introduction
            b Recevez deux fois par mois nos bons plans et idées de voyages insolites
            |  directement dans votre boite mail !
          .subscribeform-fields.row
            p.subscribeform-confirmation.js-subscribeform-showondone
              | Et voilà !
              br
              | Bienvenue dans la communauté Evaneos.
              br
              | Vous êtes bien abonné à nos newsletters.
              br
              | A très vite dans votre boite mail.
            .col-md-12.js-subscribeform-hideondone
              input.form-text(type='email', name='email', placeholder='prenom.nom@email.com', required='')
            .col-md-12.js-subscribeform-hideondone
              input.btn.btn-primary.subscribeform-button(type='submit', value="Je m'inscris gratuitement")