h2.article-paratitle Adresse et numéros utiles
p
  strong Ambassade de France au !{RichText.asText(page.data.pays)}
p Avenida Arequipa 3415 - San Isidro - Lima 27 
  br
  | Tél. (+511) 215 84 00
p Mail : france.consulat@ambafrance-pe.org
p Site internet : 
  a(href='http://www.ambafrance-pe.org/', target='_blank', data-mce-href='http://www.ambafrance-pe.org/') http://www.ambafrance-pe.org/
  br(data-mce-bogus='1')
p
  strong Consulat du !{RichText.asText(page.data.pays)} en France
p 25, Rue de l'Arcade 75008, Paris, FR
p Tél : 01 42 65 25 10
p Mail : info@conper.fr
p Site internet : 
  a(href='http://www.conper.fr/', target='_blank', data-mce-href='http://www.conper.fr/') http://www.conper.fr/
  br(data-mce-bogus='1')
h2.article-paratitle Téléphone et internet
p Indicatif téléphonique : +51
p Il est très facile de communiquer par internet depuis le Pérou, les hôtels disposant quasiment tous d’un accès. De plus, vous trouverez des cybercafés dans toutes les villes, grandes ou petites.
  br
h2.article-paratitle Electricité
strong L’électricité est comme en France, de 220V
| . 
strong Il n’est normalement pas nécessaire d’avoir un adaptateur
|  mais il est possible que certains établissements touristiques ne soient pas encore aux normes. En cas de besoin, vous en trouverez facilement sur place.