.col-md-3
  .sidebar-item-card
    .sidebar-easyform
      .quoteform-1
        .quoteform-1-title
          | Votre voyage au Pérou à la demande
        .quoteform-1-subtitle
          | Demandez un devis gratuit en quelques minutes et recevez une proposition de voyage
        form
          .quoteform-1-travelers.quoteform-1-filter.bselect
            .quoteform-1-value.bselect-value En couple
            .quoteform-1-arrow
              i.iconvar.arrow-down
            select.bselect-select(name='traveler')
              option(value='couple') En couple
              option(value='family') En famille
              option(value='friends') Entre amis
              option(value='group') En groupe
              option(value='alone') Seul(e)
          .quoteform-1-dates.quoteform-1-filter.bselect
            .quoteform-1-value.bselect-value Date de départ
            .quoteform-1-arrow
              i.iconvar.arrow-down
            select.bselect-select(name='dates')
              option(value='2017-09-01') Septembre 2017
              option(value='2017-10-01') Octobre 2017
              option(value='2017-11-01') Novembre 2017
              option(value='2017-12-01') Décembre 2017
              option(value='2018-01-01') Janvier 2018
              option(value='2018-03-01') Mars 2018
              option(value='2018-04-01') Avril 2018
              option(value='2018-05-01') Mai 2018
              option(value='2018-06-01') Juin 2018
              option(value='2018-07-01') Juillet 2018
              option(value='2018-08-01') Août 2018
              option(value='2018-09-01') Septembre 2018
              option(value='2018-10-01') Octobre 2018
              option(value='2018-11-01') Novembre 2018
              option(value='2018-12-01') Décembre 2018
              option(value='2019-01-01') Janvier 2019
              option(value='2019-02-01') Février 2019
              option(value='2019-03-01') Mars 2019
              option(value='2019-04-01') Avril 2019
              option(value='2019-05-01') Mai 2019
              option(value='2019-06-01') Juin 2019
              option(value='2019-07-01') Juillet 2019
          button.btn.btn-primary.quoteform-1-button(type='submit') Créer un projet de voyage
      .concept-blue.concept-blue-top-arrow
        .concept-blue-title 100% sur mesure avec l'agence locale
        .dotted-2-colgate.concept-blue-dotted
        ul.concept-blue-items
          li.concept-blue-item
            i.iconvar.calendar.concept-blue-icon
            span.concept-blue-subtitle Dates et durée
          li.concept-blue-item
            i.iconvar.pin.concept-blue-icon
            span.concept-blue-subtitle Lieux & Activités
          li.concept-blue-item
            i.iconvar.accomodation.concept-blue-icon
            span.concept-blue-subtitle Hébergements
  .sidebar-item-card
    .sidebar-padding-small.sidebar-places
      h4.sidebar-stages-title Lieux à découvrir
      .share-2-list
        a.stage-2.shape-2(href='#')
          .shape-2-side
            .stage-2-photo-container
              img.shape-2-photo(src='https://static2.evaneos.fr/images/reduction/121224_w-150_h-150_q-30_m-crop.jpg')
              .copyright-container.copyright-small
                .copyright ©
                .copyright-content Martin Malenfant
          .shape-2-content
            .stage-2-title Aguas Calientes
            .stars-rate.stars-2
        a.stage-2.shape-2(href='#')
          .shape-2-side
            .stage-2-photo-container
              img.shape-2-photo(src='https://static2.evaneos.fr/images/reduction/227891_w-150_h-150_q-30_m-crop.jpg')
              .copyright-container.copyright-small
                .copyright ©
                .copyright-content Cordillère Blanche
          .shape-2-content
            .stage-2-title Alto de Pucaraju 
            .stars-rate.stars-3
        a.stage-2.shape-2(href='#')
          .shape-2-side
            .stage-2-photo-container
              img.shape-2-photo(src='https://static4.evaneos.fr/images/reduction/174274_w-150_h-150_q-30_m-crop.jpg')
              .copyright-container.copyright-small
                .copyright ©
                .copyright-content Gaëlle Vincent
          .shape-2-content
            .stage-2-title Andahuayillas
            .stars-rate.stars-3
      .sidebar-end-cta
        a.btn.btn-thirdary(href='#') Voir plus
  .sidebar-item-card
    .sidebar-padding-small.sidebar-inspiration
      h4.sidebar-inspirations-title Inspiration
      .article-3-list
        .article-3
          .article-3-side
            .article-3-photo-container
              a.article-3(href='#')
                img.article-3-photo(src='https://static3.evaneos.fr/images/reduction/150574_w-162_h-162_q-30_m-crop.jpg')
                .copyright-container.copyright-small.copyright-to-right
                  .copyright ©
                  .copyright-content Flickr cc David Almeida
          .article-3-content
            .article-3-title
              a.article-3-title(href='#') Pasco et Huancavelica : un voyage en...
            .article-3-author
              span.author-link(data-rel='#') Emilie Couillard
        .article-3
          .article-3-side
            .article-3-photo-container
              a.article-3(href='#')
                img.article-3-photo(src='https://static5.evaneos.fr/images/reduction/150586_w-162_h-162_q-30_m-crop.jpg')
                .copyright-container.copyright-small.copyright-to-right
                  .copyright ©
                  .copyright-content ONG Latitud Sur
          .article-3-content
            .article-3-title
              a.article-3-title(href='#') Au coeur de l'Amazonie : Iquitos et ...
            .article-3-author
              span.author-link(data-rel='#') Emilie Couillard
        .article-3
          .article-3-side
            .article-3-photo-container
              a.article-3(href='#')
                img.article-3-photo(src='https://static3.evaneos.fr/images/reduction/150563_w-162_h-162_q-30_m-crop.jpg')
                .copyright-container.copyright-small.copyright-to-right
                  .copyright ©
                  .copyright-content Émilie Couillard
          .article-3-content
            .article-3-title
              a.article-3-title(href='#') Huaraz : une perle nichée au creux d...
            .article-3-author
              span.author-link(data-rel='#') Emilie Couillard
      .sidebar-end-cta
        a.btn.btn-thirdary(href='#') Voir plus
  .sidebar-item
    a(href='#')
      h4.sidebar-itineraries-title Idées de voyage
    .shape-4-list
      a.itinerary-2.shape-4(data-id='868', data-rel='#')
        .itinerary-2-photo-container
          img.shape-4-cover(src='https://static4.evaneos.fr/images/reduction/20914_w-500_h-180_q-50_m-crop.jpg')
          .copyright-container.copyright-small
            .copyright ©
            .copyright-content Rick McCharles
        .card-ticket-content-small
          .shape-4-header
            .shape-4-header-cell
              span.itinerary-2-duration 16 jours
            .shape-4-header-cell-photo
              img.shape-4-photo(src='https://static5.evaneos.fr/images/reduction/25745_w-140_h-140_q-30_m-crop.jpg')
            .shape-4-header-cell
              span.itinerary-2-price
                | 1 870 €
          .shape-4-tag Pérou
          .shape-4-content
            .itinerary-2-title Découverte et trek: Du Colca à l'Ausangate
      a.itinerary-2.shape-4
        .itinerary-2-photo-container
          img.shape-4-cover(src='https://static5.evaneos.fr/images/reduction/38949_w-500_h-180_q-50_m-crop.jpg')
          .copyright-container.copyright-small
            .copyright ©
            .copyright-content Revolution_Ferg
        .card-ticket-content-small
          .shape-4-header
            .shape-4-header-cell
              span.itinerary-2-duration 13 jours
            .shape-4-header-cell-photo
              img.shape-4-photo(src='https://static1.evaneos.fr/images/reduction/38737_w-140_h-140_q-30_m-crop.jpg')
            .shape-4-header-cell
              span.itinerary-2-price
                | 2 040 €
          .shape-4-tag Pérou
          .shape-4-content
            .itinerary-2-title Combiné altiplanesque: Pérou Bolivie et Chili
      a.itinerary-2.shape-4
        .itinerary-2-photo-container
          img.shape-4-cover(src='https://static2.evaneos.fr/images/reduction/324506_w-500_h-180_q-50_m-crop.jpg')
          .copyright-container.copyright-small
            .copyright ©
            .copyright-content DR
        .card-ticket-content-small
          .shape-4-header
            .shape-4-header-cell
              span.itinerary-2-duration 20 jours
            .shape-4-header-cell-photo
              img.shape-4-photo(src='https://static1.evaneos.fr/images/reduction/38737_w-140_h-140_q-30_m-crop.jpg')
            .shape-4-header-cell
              span.itinerary-2-price
                | 2 960 €
          .shape-4-tag Pérou
          .shape-4-content
            .itinerary-2-title Combiné Pérou - Bolivie en groupe