footer.main-footer
  .footer-brand
    .container
      .row
        .col-lg-5.col-sm-12.col-xs-6
          .title Le Concept
          .row.list.concept
            span.col-sm-4.item(data-rel='U2FsdGVkX1/1frGYi6mYhRFGSdi4wzHL3PRu7ZDyOwM=', data-analytics='on', data-analytics-category='vara_footer', data-analytics-action='concept')
              .image
                i.sprcom.sprcom-concept-footer-agency
              .name
                | Agences locales
                br
                |  sélectionnées
            span.col-sm-4.item(data-rel='U2FsdGVkX18akDugzaHjR4uhTVAeMMmhuDrmPCKXD4w=', data-analytics='on', data-analytics-category='vara_footer', data-analytics-action='concept')
              .image
                i.sprcom.sprcom-concept-footer-custom
              .name
                | 100%
                br
                |  sur mesure
            span.col-sm-4.item(data-rel='U2FsdGVkX19u1Wtcbk+ZSvoITsNC+LVk6VrvkAeXMr8=', data-analytics='on', data-analytics-category='vara_footer', data-analytics-action='concept')
              .image
                i.sprcom.sprcom-concept-footer-price
              .name
                | Prix
                br
                |  en direct
        .col-lg-7.col-sm-12.col-xs-6
          .title Nos Garanties
          .row.list
            span.col-sm-3.item(data-rel='U2FsdGVkX1+j2DQ5uxpepFiyykPCL+152NeHsd8ShIOKLK26PPGwgj4CZ3lkymKg', data-analytics='on', data-analytics-category='vara_footer', data-analytics-action='garantees')
              .image
                i.sprcom.sprcom-allianz_blue
              .name Assurances de voyage
            span.col-sm-3.item(data-rel='U2FsdGVkX1/tJBYIt2xv86tg7YwXiiJgojxZGcxBIBckk3QRJM3q423xFDvCpTo3', data-analytics='on', data-analytics-category='vara_footer', data-analytics-action='garantees')
              .image
                i.sprcom.sprcom-selection
              .name
                | Contre le défaut
                br
                |  des agences
            span.col-sm-3.item(data-rel='U2FsdGVkX1+OhC9bhWk9GKio3SuRE/xFitW7PnGSmf1Iyju4f1liUI7Ited29x6b', data-analytics='on', data-analytics-category='vara_footer', data-analytics-action='garantees')
              .image
                i.sprcom.sprcom-tiers
              .name
                | Tiers
                br
                |  de confiance
            span.col-sm-3.item(data-rel='U2FsdGVkX18p8ojFCIibcSS5JGoWaRYlKx2z0/+6FkE/k5wTv9ptcfouJhhxcHSd', data-analytics='on', data-analytics-category='vara_footer', data-analytics-action='garantees')
              .image
                i.sprcom.sprcom-payment
              .name
                | Garantie
                br
                |  paiement sécurisé
  // /.footer-brand
  .footer-newsletter
    .container
      .row
        .col-xs-10.col-xs-offset-1
          span.title Abonnez-vous à nos idées de voyage insolites !
        .col-md-6.col-md-offset-3.col-xs-10.col-xs-offset-1
          form.newsletter-subscription.registration(data-subscribe-mode='4', data-loader='Inscription en cours')
            .newsletter-subscription-message.registration-global-message
            .row
              .form-item
                input.form-field.newsletter-subscription-email(type='email', placeholder='Votre adresse e-mail...', required='required')
              .form-item
                button.btn.btn-primary.btn-color-lime.btn-lg.btn-radius-right(type='submit', data-analytics='on', data-analytics-category='vara_footer', data-analytics-action='newsletter')
                  | Je m'abonne
  // /.footer-newsletter
  .separator
  .footer-socials
    a.link-facebook(href='https://www.facebook.com/EvaneosCOM', data-analytics='on', data-analytics-category='vara_footer', data-analytics-action='social', data-analytics-label='facebook', target='_blank')
      i.iconvar.facebook
    a.link-twitter(href='https://twitter.com/evaneos', data-analytics='on', data-analytics-category='vara_footer', data-analytics-action='social', data-analytics-label='twitter', target='_blank')
      i.iconvar.twitter
    a.link-googleplus(href='https://plus.google.com/+Evaneos/', data-analytics='on', data-analytics-category='vara_footer', data-analytics-action='social', data-analytics-label='googleplus', target='_blank')
      i.iconvar.googleplus
    a.link-youtube(href='https://www.youtube.com/user/EvaneosVoyages', data-analytics='on', data-analytics-category='vara_footer', data-analytics-action='social', data-analytics-label='youtube', target='_blank')
      i.iconvar.youtube
  // /.footer-socials
  .footer-copyright
    | © 
    em Evaneos
  // /.footer-copyright
// /.main-footer